---
import EditLink from '@astrojs/starlight/components/EditLink.astro';
import LastUpdated from '@astrojs/starlight/components/LastUpdated.astro';
import Pagination from '@astrojs/starlight/components/Pagination.astro';
---

<footer class="sl-flex">
  <div class="meta sl-flex">
    <EditLink />
    <LastUpdated />
  </div>
  <Pagination />

  <div class="copyright">
    <p>BG3 MCM documentation. Made by Volitio.</p>
  </div>
</footer>

<style>
  @layer starlight.core {
    footer {
      flex-direction: column;
      gap: 1.5rem;
    }
    .meta {
      gap: 0.75rem 3rem;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 3rem;
      font-size: var(--sl-text-sm);
      color: var(--sl-color-gray-3);
    }
    .meta > :global(p:only-child) {
      margin-inline-start: auto;
    }

    .copyright {
      text-align: center;
      margin: 1.5rem auto 0;
      padding-top: 1.5rem;
      border-top: 1px solid var(--sl-color-gray-5);
      font-size: var(--sl-text-xs);
      color: var(--sl-color-gray-3);
    }
    .copyright p {
      margin: 0;
    }
  }
</style>
